{% extends 'base.html'%}
{% block container %}
  <main class="container mt-3">
  {%- set dow_names = { 'mon': 'Понедельник',
                        'tue': 'Вторник',
                        'wed': 'Среда',
                        'thu': 'Четверг',
                        'fri': 'Пятница',
                        'sat': 'Суббота',
                        'sun': 'Воскресенье',

                    }
  -%}
    <div class="row mt-5">
      <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
        <form method="POST" class="card mb-3" action="{{ url_for('booking', id=teacher.id, dow=dow, time=time) }}">

          <div class="card-body text-center pt-5">
            <img src="{{ teacher.picture }}" class="mb-3" width="95" alt="">
            <h2 class="h5 card-title mt-2 mb-2">{{ teacher.name }}</h2>
            <p class="my-1">Запись на пробный урок</p>
            <p class="my-1">{{ dow_names[dow] }}, {{ time }}:00</p>
          </div>
          <hr />
          <div class="card-body mx-3">
              <div class="row">
                  <input class="form-control" type="hidden" name="dow" value="{{ dow }}">
                  <input class="form-control" type="hidden" name="time" value="{{ time }}">
                  <input class="form-control" type="hidden" name="teacher_id" value="{{ teacher.id }}">
              </div>
                  {{ form.csrf_token }}         <!-- вывод токена CSFR -->
                  {{ form.client_name.label(class="mb-1 mt-2") }}         <!-- вывод метку поля формы -->
                  {{ form.client_name(class="form-control") }}               <!-- вывод HTML-тега формы -->
                  {{ form.client_phone.label(class="mb-1 mt-2") }}         <!-- вывод метку поля формы -->
                  {{ form.client_phone(class="form-control") }}               <!-- вывод HTML-тега формы -->
                  <input type="submit" class="btn btn-primary btn-block mt-4" value="Записаться на пробный урок">
              </form>
          </div>
      </div>
    </div>
  </main>
{% endblock %}
